
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  
}
.conteudoBackground {
    background-image: url(img/background.jpg);
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2 {
    color: rgb(248, 235, 247);
    font-size: 45px;
    cursor: pointer;
    letter-spacing: 3px;
}

span {
    color: rgb(91, 23, 155);
    font-weight: bold;
    
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    list-style-type: none;
}

nav ul li a {
    color: rgb(248, 235, 247);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rgb(91, 23, 155);
    transform: scale(1.8);
}

.minhaApresentacao {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}

h4 {
    color: rgb(248, 235, 247);
    letter-spacing: 3px;
    font-size: 20px;
}

h1 {
    color: rgb(248, 235, 247);
    margin: 20px 0px 20px;
    font-size: 45px;
}

h3 {
    color: rgb(248, 235, 247);
    font-size: 20px;
    margin-bottom: 50px;
}

.backgroundColorSbre {
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.backgroundColorSbre img {
    width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 10px 10px #000000;
}

.txtSobre {
    width: 40%;
}

.txtSobre h2 {
    color: rgb(248, 235, 247);
    letter-spacing: 3px;
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.txtSobre h5 {
    color: rgb(91, 23, 155);
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: capitalize;
}

.txtSobre p {
    color: rgb(248, 235, 247);
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 45px;
}

.mainSobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.skills {
    padding: 30px 30px;
    text-align: center;
    background-image: linear-gradient(to bottom left, rgb(36, 17, 239)0%, rgb(214, 35, 214)40%, rgb(119, 97, 119)60%, rgb(125, 17, 125)100%);
    background-size: 200% 200%;
    animation: gradientEffect 5s linear infinite alternate;
    
}

@keyframes gradientEffect {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
} 

.skills h2 {
    padding-bottom: 20px;
    font-size: 40px;
}

.tecnologies ul {
    list-style-type: none;
}

.tecnologies ul li {
    font-size: 20px;
    font-weight: bold;
}

.icons {
    padding-top: 20px;

}

.icons i {
    justify-content: space-around;
    width: 50px;
}